<!DOCTYPE html>
<html>
<head>
  <title>BlogScaffold</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='bg_yellow'>

<h1>Jugando con Posts</h1>

<%= yield %>

</body>
</html>

